/**/clear fix css
.cf:before,
.cf:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.cf:after {
clear: both;
}

.search {
    border-radius: 3px;
    text-align: center;
    color: lightgray;
    width: 200px;
    border: 1px solid lightgray;
    background-color: #F9F9F9
}

.container {
    background-color: #F9F9F9;
    margin-left: 104px;
}
/**/the sprites selects from the location on the sprite folder. used spritecow to get the location
#title {
    background: url(sprites.png) no-repeat -266px -49px;
	width: 28px;
	height: 28px;
}
nav {
    padding: 50px;
    border-bottom: 1px solid lightgrey;
}
#navLogo {
    background: url(sprites.png) no-repeat -177px 0;
    width: 176px;
    height: 35px;
    border: 10px;
    float: left;
}

.navbar-right ul li{
    list-style-type: none;
    display: inline;
    text-decoration: none;
    background-color: white;
    float: right;

}
#discover {
    background: url(sprites.png) no-repeat -1px -280px;
	width: 22px;
	height: 22px;
}
#follow {
    background: url(sprites.png) no-repeat -234px -231px;
	width: 22px;
	height: 20px;
}

#profile {
    background: url(sprites.png) -303px -182px;
	width: 22px;
	height: 21px;
}

.header {
    padding: 40px;
}

#header-left {
 text-align: center;
 padding-right: 50px;
 padding-left: 50px;
}
#header-right {
 text-align: left;
 padding-left: 40px;
}

#avatar {
    border-radius: 50%;
    margin-bottom: 44px;
}
.name {
   font-size: 30px;
    margin-bottom: 20px;

}

.name a {
    text-decoration: none;
}
.follow {
    color: #3897f0;
    border-color: #3897f0;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    font-size: 11px;
}
#verify {
    background: url(sprites.png) no-repeat -113px -256px;
	width: 18px;
	height: 18px;

}
.stats {
    margin-bottom: 20px;
}

.photos {
    margin-bottom: 28px;
    line-height: 16px;
    padding: 5px 75px;
    text-align: center;

}
.photos img {
    display: block;
    width: 293px;
    height: 293px;
    margin: auto;

}
/**/the rest of the css  also goes to the hover allowing the text to pop up.
.hover figure img {
	opacity: 2;

}
.hover figure:hover img {
	opacity: .4;
}

.text {
    position:relative;
    bottom:150px;
    /*top: 50px;*/
    visibility:hidden;
}

.hover:hover .text {
visibility:visible;
}

.text {
    color: white;
    weight: bolder;
}
